BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Always
TabWidth: 4
PointerAlignment: Left
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: All
SpaceBeforeParens: ControlStatements
NamespaceIndentation: None
FixNamespaceComments: true
SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true
BreakBeforeBinaryOperators: NonAssignment
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Allman
SpacesInAngles: true
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterNamespace: true
  BeforeElse: true
